# vim
*.sw*

# OCaml
*.annot
*.cmo
*.cma
*.cmi
*.o
*.cmx
*.cmxs
*.cmxa

# Test files
*.out
*.diff

# Repo specific
scanner.ml
preprocessor.ml
parser.mli
parser.ml
quarkc

# copied libs
*.dylib
*.dll
*.so

# Vagrant
.vagrant

# OSX
.DS_Store

lib/Eigen
