# vim
*.sw*

# OCaml
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

# Output files
*.out

# Repo specific
scanner.ml
preprocessor.ml
parser.mli
parser.ml
quarkc

# Vagrant
.vagrant

# OSX
.DS_Store

